{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Espace membre privé</h1>
    <h3>Modification de mot de passe</h3>

    {{ form(modifyPasswordForm) }}

  </div>
{% endblock %}
