{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Espace membre privé</h1>
    <h3>Modification de mot de passe</h3>

    {{ form(modifyPasswordForm) }}

    1. formulaire
      1.a le mot de passe actuel -> comparer avec le mot de passe en bdd
      1.b nouveau mot de passe
      1.c confirmation de son nouveau mot de passe

    2. mise a jour en bdd
      2.a lui envoyer une petite notification pour lui confirmer la modification du mdp

  </div>
{% endblock %}
