{% extends 'base.html.twig' %}

{% block body %}
    <div class="container w-50 mx-auto">
        <h1 class="text-center">Login</h1>
        <form action="{{ path('app_login') }}" method="POST">
            <label for="username">Your email address:</label>
            <input type="text" class="form-control mb-4" id="username" name="_username" value="{{ last_username }}" required>

            <label for="password">Your password:</label>
            <input type="password" class="form-control" id="password" name="_password" required>

            <input type="hidden" name="_target_path" value="{{ path('app_account') }}">

            <button type="submit" class="btn btn-success my-4 w-100">Log In</button>
        </form>
    </div>
{% endblock %}

