{% extends 'base-admin.html.twig' %}

{% block title %}{{ headingTitle }}
{% endblock %}

{% block body %}
  <div class="container w-50">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header my-3 text-center">{{ headingTitle }}</h1>
        {{ form(subcategoryForm) }}
      </div>
    </div>
  </div>
{% endblock %}