{% extends 'base-admin.html.twig' %}

{% block title %}Subcategories
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Subcategories</h1>

				<div class="col-xs-6">
					<form action="" method="post">
						<div class="form-group">
							<label for="cat-title">Add Subcategory</label>
							<input type="text" name="" class="form-control">
						</div>
						<div class="form-group">
							<input type="submit" name="" class="btn btn-primary" value="Add Subcategory">
						</div>
					</form>
				</div>
				<div class="col-xs-6">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Title</th>
								<th>Delete</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>ID</td>
								<td>Title</td>
								<td>
									<a href="">Delete</a>
								</td>
								<td>
									<a href="">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
