{% extends 'base-admin.html.twig' %}

{% block title %}Add Category
{% endblock %}

{% block body %}
	<h1 class="page-header my-3">Add Categories</h1>
	<div class="dropdown mt-5 mx-4">
		<button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown">
			Select Categories
		</button>
		<ul class="dropdown-menu">
			<li><input type="checkbox" value="tech" class="mx-2"> Technology</li>
			<li><input type="checkbox" value="health" class="mx-2"> Health</li>
			<li><input type="checkbox" value="sports" class="mx-2"> Sports</li>
		</ul>
	</div>
{% endblock %}
